<!DOCTYPE html>
<html>
	<%# Generate title. %>
	<% provide(:title, 'Home') %>


	<body>
		<div class="content">
			<div id="content">
				<br>
				<div id="search">
				<table>
					<%= form_tag('/search', method: '#') do %>
						<td><%= text_field_tag(:search, "", :placeholder => "  search", :class => "search-field")%></td>
						<td><%= link_to(image_tag("dropdownarrow.png", id: "dropdown"), '#') %></td>
						<td><%= submit_tag("Search", id: "search-button")%></td>
					<% end %>
				</table>
	                  
				</div>
				  <br>
					NOTE! DO NOT SEARCH! WILL ERROR!
					<h1>Tasks to do:</h1>
				<p>
					make the tabs change color so that the current tab is highlighted.
					<br>
					login button looks weird on safari.
					signup button looks weird on chrome.
					needs fixing!!!
				</p>
			
				<% @user.each do |u| %>
				<%= u.username %>
				<br>
				<% end %>
				<br>
				<p>
					This is the link to tutorials: 
					<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
				</p>



					<div id="test" onclick="test()">
						hello world!
					</div>
					<br>
					<br>

			
				<table>
					<tr>
						<div id="pinned">
							<div id="table-content">
								
									<div id="table-title">
										
											Pinned
										
									</div>
									<ul>
										<li>a</li>
										<li>b</li>
									</ul>
							</div>
						</div>
					</tr>

						<tr>
							<div id="recent">
								<div id="table-content">
									<div id="table-title">Recent Posts</div>
									<ul>
										<li>a</li>
										<li>b</li>
									</ul>
								</div>
							</div>
						</tr>


					<tr>
						
							<div id="categories">
								<div id="table-content">
									<div id="table-title">Categories</div>
									<ul>
										<li>a</li>
										<li>b</li>
									</ul>
								</div>

							</div>
						</tr>
						
				</table>

				


			</div>




		</div>

		

	

	</body>
</html>
