<header>
	<div class="header">
		<div id="header-inner">
			<%= link_to(image_tag("logo.png", id: "logo"), root_path) %>
			<%= link_to("USYD Connect", root_path, id: "title") %>
			<div id="sign">
				<% if !is_logged_in? %>
					<%= form_tag('/login', method: 'post') do %>
						<%= text_field_tag(:username, "", :placeholder => " username", :class => "text-field", :maxlength => 16)%>
						<%= password_field_tag(:password, "", :placeholder => " password", :class => "text-field", :maxlength => 16)%>
						<%= submit_tag("Login", id: "button")%>
						<%= link_to("<button>Sign Up</button>".html_safe, signup_path, id: "button")%>
					<% end %>
				<% else %>
					Logged in as: <i> to be implemented </i>
					<%= link_to("<button>Sign Out</button>".html_safe, signout_path, { :method => "delete" })%>
				<% end %>
			</div>
		</div>
	</div>
	<div class="nav">
		<% if !is_logged_in? %>
			<ul id="nav">
				<li class="navitem"><%= link_to("Home", root_path, :class => "link")%></li>
				<li>&nbsp</li>
			</ul>
		<% else %>
			<ul id="nav">
				<li class="navitem"><%= link_to("Home", root_path, :class => "link")%></li>
				<li>&nbsp</li>
				<li class="navitem"><%= link_to("Following", '#', :class => "link")%></li>
				<li>&nbsp</li>
				<li class="navitem"><%= link_to("Profile", '#', :class => "link")%></li>
				<li id="gap">&nbsp</li>
				<li class="navitem"><%= link_to("New Thread", '#', :class => "link")%></li>
			</ul>
		<% end %>
	</div>
</header>
